
@import "tailwindcss";
:root {
  --primary: #c63b2f;
  --secondary: #6b3f26;
  --bg-main: #fffaf3;
  --bg-soft: #fff1db;
  --bg-card: #ffffff;
  --text-main: #3a2416;
  --text-muted: #8a6a52;
  --accent: #f2b705;
}
.input {
  @apply w-full h-12 px-4 rounded-xl border border-[#e7d9c9]
  text-sm text-[#3a2416]
  placeholder-[#8a6a52]
  bg-white
  focus:outline-none focus:ring-2 focus:ring-[#6b3f26]
  focus:border-[#6b3f26]
  transition;
}


/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
